:root {
    --global_main_color: #e1a123;
    --global_main_color_btn_text_color: #ffffff;
    --home_text_color: #ffffff;
    --home_third_background_color: #000000;
    --home_custom_image_size: 0px;
    --home_custom_image_width: px;
    --home_text_size_px: 24px;
    --home_text_size_2_px: 40px;
    --slogan_text_size_px: 19px;
    --home_text_size: 24;
    --home_text_size_2: 40;
    --slogan_text_size: 19;
    --home_text_size_px_media: 24px;
    --home_text_size_2_px_media: 40px;
    --slogan_text_size_px_media: 19px;
    --layout_text_align: left;
    --layout_text_align_rtl: right;
    --layout_text_box_width: 100%;
    --layout_left_side_width: 50%;
    --layout_left_side_width_vh: 50vh;
    --homepage_layout_height: 100%;
    --homepage_layout_height_vh: 100vh;
    --homepage_layout_height_menu_space: 0px;
    --mainNavMobileHeight: 0px;
    --homepage_layout_height_opacity_space_top: 0px;
    --homepage_layout_height_opacity_space_bottom: 0px;
    --mobileMenuFontSize: 16px;
    --mobileMenuPagesSpace: 5px;
    --homepageShapeDividerList_Size: 17%;
    --layout_bottom_spacing: 0px;
    --window-height: 100vh;
    --window-width: 100vw;
    --menu_font_size: 13px;
    --menu_pages_space: 1px;
    --menu_pages_side_padding: 15px;
    --menu_pages_letter_spacing: 0.4px;
    --menu_pages_word_spacing: 0px;
    --menu_thin_border: #e1a123;
    --mobileMenuTextAlign: center;
    --menu_text_color: #ffffff;
    --menu_color: #e1a123;
    --modules_color_text: #000000;
    --modules_color_text_second: #000000;
    --inside_modules_color_text: #000000;
    --sectionsPadding: 100px;
    --home_text_top_space_1: 0px;
    --home_text_bottom_space_1: 10px;
    --home_text_top_space_2: 0px;
    --home_text_bottom_space_2: 64px;
    --home_text_top_space_3: 0px;
    --home_text_bottom_space_3: 10px;
    --homepage_padding_top: px;
    --homepage_padding_bottom: px;
    --homepage_main_goal_margin_top: 10px;
    --homepage_main_goal_margin_bottom: 0px;
    --homepage_second_goal_margin_top: 22px;
    --homepage_second_goal_margin_bottom: 0px;
    --modules_color_second: #f6f6f6;
    --modules_color: #ffffff;
    --footer_back: #1a1a1a;
    --home_background_color: #000000;
}